* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    45deg,
    rgb(131, 131, 131),
    rgb(0, 77, 139),
    rgb(87, 0, 90)
  );
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.IMAGEN-LOGO {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.212);
  border: 4px rgb(206, 206, 206);
  border-radius: 100%;
  border-style: solid;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 5px rgba(202, 202, 202, 0.3);
  animation: flutuar 2s ease-in-out infinite alternate;
}

.box1 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.247);
  border: solid rgb(206, 206, 206);
  border-radius: 30px;
  padding: 240px 140px;
  margin: 4px 0px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 8px 4px rgba(202, 202, 202, 0.3);
}

.Name {
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-line: underline;
}

.Contato-Direto {
  color: white;
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-line: underline;
}

.Instagram {
  background-color: rgb(131, 131, 131, 0.35);
  border: solid red;
  color: rgb(255, 106, 106);
  padding: 10px 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.5s ease;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.Instagram:hover {
  background-color: white;
}

.GitHub {
  background-color: rgb(131, 131, 131, 0.35);
  border: solid rgb(0, 0, 0);
  color: black;
  padding: 10px 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.5s ease;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.GitHub:hover {
  background-color: white;
}

.Discord {
  background-color: rgb(131, 131, 131, 0.35);
  border: solid hsl(227, 58%, 65%);
  color: hsl(227, 58%, 65%);
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.5s ease;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.Discord:hover {
  background-color: white;
}

.QR {
  width: 60px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Instagram-logo {
  width: 40px;
  position: absolute;
  top: 36.7%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.Discord-logo {
  width: 40px;
  position: absolute;
  top: 57%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.GitHub-logo {
  width: 90px;
  position: absolute;
  top: 77%;
  left: 20%;
  transform: translate(-50%, -50%);
}

/*Animações*/
@keyframes flutuar {
  0% {
    top: 13%;
  }
  100% {
    top: 16%;
  }
}
